package ${cfg.convert};

#foreach($pkg in ${table.importPackages})
import ${pkg};
#end
#if(${springdoc})
import io.swagger.v3.oas.annotations.media.Schema;
#elseif(${swagger})
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#end
import ${package.Entity}.${entity};
import ${cfg.vo}.${entity}VO;
import org.mapstruct.Mapper;
import org.mapstruct.factory.Mappers;
import com.acme.observability.orm.entity.PageResult;

/**
 * $!{table.comment}
 *
 * @author ${author}
 * @since ${date}
 */
#if(${springdoc})
@Schema(name = "${entity}", description = "$!{table.comment}")
#elseif(${swagger})
@ApiModel(value = "${entity}对象", description = "$!{table.comment}")
#end
@Mapper
public interface ${entity}Convert {

    ${entity}Convert INSTANCE = Mappers.getMapper(${entity}Convert.class);

    ${entity}VO convert(${entity} po);

    ${entity} convert(${entity}VO vo);

    PageResult<${entity}VO> convert(PageResult<${entity}> pageResult);

}